/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Que html, body y root ocupen TODA la pantalla */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* Fuente base (opcional) */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
